1. Write an SQL query to retrieve the names and email addresses of all employees from a table named "Employees".

In [ ]:
SELECT name, email
 #SELECT is used to specify the columns that you want to retrieve from the table.
FROM Employees;
#FROM is used to specify the table from which you want to retrieve the data.

2. Write an SQL query to filter records from a table named "Customers" where the "City" column is 'New York'.

In [ ]:
SELECT *#SELECT * is used to retrieve all columns from the table.
FROM Customers
WHERE City = 'New York';

3. Write an SQL query to sort records in descending order based on the "DateOfBirth" column in a table named "Users".
.

In [ ]:
SELECT *
FROM Users
ORDER BY DateOfBirth DESC;
#ORDER BY DateOfBirth DESC specifies the sorting condition.
#The "DateOfBirth" column is used for sorting, and DESC indicates descending order.

4. Write an SQL query to sort records in ascending order based on the "RegistrationDate" column in a table named "Users".

In [ ]:
SELECT *
FROM Users
ORDER BY RegistrationDate ASC;#The "RegistrationDate" column is used for sorting, and ASC indicates ascending order.

5. Write an SQL query to find the employee with the highest salary from a table named "Employees" and display their name, position, and salary.

In [ ]:
SELECT name, position, salary
FROM Employees
WHERE salary = (SELECT MAX(salary) FROM Employees);
#The subquery (SELECT MAX(salary) FROM Employees) retrieves the maximum salary value from the "Employees" table.

6. Write an SQL query to retrieve records from a table named "Customers" where the "Phone" column matches the pattern '+1-XXX-XXX-XXXX'.

In [ ]:
SELECT *
FROM Customers
WHERE Phone LIKE '+1-___-___-____';#The LIKE operator is used to match the pattern
#WHERE Phone LIKE '+1-___-___-____' is the condition that filters the records based on the pattern.

7. Write an SQL query to retrieve the top 5 customers with the highest total purchase amount from a table named "Orders" and display their names and total purchase amounts.

In [ ]:
SELECT c.name, SUM(o.purchase_amount) AS total_purchase_amount #SELECT c.name selects the customer's name from the "Customers" table.
#SUM(o.purchase_amount) AS total_purchase_amount calculates the sum of the purchase amounts for each customer and assigns it an alias "total_purchase_amount
FROM Orders o
JOIN Customers c ON o.customer_id = c.customer_id
GROUP BY c.name
ORDER BY total_purchase_amount DESC
LIMIT 5;#LIMIT 5 restricts the result set to only the top 5 records.


8. Write an SQL query to calculate the percentage of sales for each product category in a table named "Sales" and display the category name, total sales amount, and the percentage of total sales.

In [ ]:
SELECT category_name,
SUM(sales_amount) AS total_sales_amount,#calculates the sum of sales amounts for each category and assigns it an alias "total_sales_amount".
    (SUM(sales_amount) / (SELECT SUM(sales_amount) FROM Sales)) * 100 AS sales_percentage
FROM Sales
GROUP BY category_name;

9. Write an SQL query to find the customers who have made the highest total purchases across all years from a table named "Orders" and display their names, email addresses, and the total purchase amount

In [ ]:
SELECT c.name, c.email, SUM(o.purchase_amount) AS total_purchase_amount
FROM Orders o
JOIN Customers c ON o.customer_id = c.customer_id
GROUP BY c.name, c.email
HAVING SUM(o.purchase_amount) = (
    SELECT MAX(total_purchases)#The HAVING clause filters the records to include only the customers with the highest total purchases.
    FROM (
        SELECT SUM(purchase_amount) AS total_purchases
        FROM Orders
        GROUP BY customer_id
    ) AS subquery
);