<aside>
üí° **Question 1**

Given an integer¬†`n`, return¬†*`true`¬†if it is a power of two. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of two, if there exists an integer¬†`x`¬†such that¬†`n == 2x`.

**Example 1:**
Input: n = 1

Output: true

**Example 2:**
Input: n = 16

Output: true

**Example 3:**
Input: n = 3

Output: false

</aside>

<aside>

In [1]:
def isPowerOfTwo(n):
    return n > 0 and (n & (n - 1)) == 0
n = 1
result = isPowerOfTwo(n)
print(result)  # Output: True

True


üí° **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3

Output: 6

**Example 2:**

Input  : 5

Output : 15

</aside>

<aside>

In [2]:
def sumOfNaturalNumbers(n):
    return (n * (n + 1)) // 2
n = 3
result = sumOfNaturalNumbers(n)
print(result)  # Output: 6

6

üí° **Question 3**

****Given a positive integer, N. Find the factorial of N.

**Example 1:**

Input: N = 5

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [3]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
N = 5
result = factorial(N)
print(result)  # Output: 120

120

<aside>
üí° **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :**

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [6]:
def power(N, P):
    if P == 0:
        return 1
    else:
        return N * power(N, P - 1)
N = 5
P = 2
result = power(N, P)
print(result)  # Output: 25

25

üí° **Question 5**

Given an array of integers¬†**arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

In [4]:
def findMax(arr, start, end):
    if start == end:
        return arr[start]

    mid = (start + end) // 2
    left_max = findMax(arr, start, mid)
    right_max = findMax(arr, mid + 1, end)

    return max(left_max, right_max)

# Example usage
arr = [1, 4, 3, -5, -4, 8, 6]
result = findMax(arr, 0, len(arr)-1)
print(result)  # Output: 8

arr1 = [1, 4, 3, -5, -4, 8, 6]
result1 = findMax(arr1, 0, len(arr1)-1)
print(result1)  # Output: 8

arr2 = [1, 4, 45, 6, 10, -8]
result2 = findMax(arr2, 0, len(arr2)-1)
print(result2)  # Output: 45

8
8
45

<aside>
üí° **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [7]:
def findNthTerm(a, d, N):
    return a + (N - 1) * d
a1 = 2
d1 = 1
N1 = 5
result1 = findNthTerm(a1, d1, N1)
print(result1)  # Output: 6

a2 = 5
d2 = 2
N2 = 10
result2 = findNthTerm(a2, d2, N2)
print(result2)  # Output: 23

6
23

<aside>
üí° **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = ‚ÄúABC‚Äù*

***Output:***

*‚ÄúABC‚Äù, ‚ÄúACB‚Äù, ‚ÄúBAC‚Äù, ‚ÄúBCA‚Äù, ‚ÄúCBA‚Äù, ‚ÄúCAB‚Äù*

**Example 2:**

***Input:***

*S = ‚ÄúXY‚Äù*

***Output:***

*‚ÄúXY‚Äù, ‚ÄúYX‚Äù*

</aside>

In [9]:
def permute(S, l, r):
    if l == r:
        print("".join(S))
    else:
        for i in range(l, r+1):
            S[l], S[i] = S[i], S[l]
            permute(S, l+1, r)
            S[l], S[i] = S[i], S[l]  # Backtrack

# Example usage
S = "ABC"
permute(list(S))

S1 = "ABC"
permute(list(S1))  # Output: "ABC", "ACB", "BAC", "BCA", "CBA", "CAB"

S2 = "XY"
permute(list(S2))  # Output: "XY", "YX"

TypeError: ignored

<aside>
üí° **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [10]:
def productOfArray(arr):
    product = 1
    for num in arr:
        product *= num
    return product
arr1 = [1, 2, 3, 4, 5]
result1 = productOfArray(arr1)
print(result1)  # Output: 120

arr2 = [1, 6, 3]
result2 = productOfArray(arr2)
print(result2)  # Output: 18

120
18